      &gt; <%= @entry.expression %> 
      <% if @entry.definition %>
      <%= link_to translate(:upload), :action => :upload, :id => @entry %>
      <% if !@entry.reading.blank? %>(<%= @entry.reading %>)<% end %>
      <%= @entry.definition %>
      <% end %>
      <% if keitai_browser %>
        <%= link_to '[編集]', :action => 'edit', :id => @entry.id %>
      <% else %>
        <%= link_to_function '[^]', "$('entry_form_#{@entry.id}').toggle()" %>
      <% end %>
      <%= link_to_remote translate(:delete), {:url => {:action => :delete,
                     :id => @entry.id},
                     :update => "entry_#{@entry.id}"},
                     :href => url_for(:action => :delete, :id => @entry.id) %>
     <% unless keitai_browser or params[:action] == 'edit' %>
      <div id="entry_form_<%= @entry.id %>" class="entry_form" style="display:none;">
        <% form_remote_tag(:url => {:action => :update, :id => @entry.id}, :update => "entry_#{@entry.id}",
      :html => {:action => url_for({:action => :update, :id => @entry.id})}) do %>
          <%= t(:expression) %><%= text_field :entry, :expression, {:class => 'input-field'} %>
          <%= t(:reading) %><%= text_field :entry, :reading, {:class => 'input-field'} %>
          <%= t(:meaning) %><%= text_area :entry, :definition, {:class => 'input-field'} %>
          <%= submit_tag translate(:save), :class => 'submit-button' %>
        <% end %>
      </div>
      <% end %>
