<h3><%= translate(:application_name) %></h3>
<% form_tag(:action => :e) do %>
<%= text_field :entry, :expression %>

<%= submit_tag :add %>
<% end %>

<ul>
<% for entry in @entries %>
  <div id="entry_<%= entry.id %>">
    <li><%= entry.expression %> <%= link_to_remote translate(:delete), :url => {:action => :delete,
                     :id => entry.id},
                     :update => "entry_#{entry.id}" %></li>
  </div>
<% end %> 
</ul>

<%= link_to translate(:logout), :action => :logout %>
