<% form_tag(:action => :e) do %>
<%= text_field :entry, :expression %>

<%= submit_tag translate(:add) %>
<%= check_box_tag 'jdef' %>
<% end %>
<div>
<%= link_to translate(:upload_multiple), :action => :upload_multi %>

<% for @entry in @entries %>
  <div class="entry <%= cycle('odd', 'even') %>" id="entry_<%= @entry.id %>">
    <%= render :partial => 'entry_form' %>
  </div>
<% end %> 
<script language="javascript">
  $('entry_expression').focus();
</script>
<%= link_to translate(:logout), :action => :logout %>
