<% form_tag(:action => :e) do %>
<%= text_field :entry, :expression %>

<%= submit_tag translate(:add) %>
<% end %>

<% for entry in @entries %>
    <div class="entry <%= cycle('odd', 'even') %>" id="entry_<%= entry.id %>">&gt; <%= entry.expression %> 
      <% if entry.reading %>
      <%= link_to translate(:upload), :action => :upload, :id => entry %>
      (<%= entry.reading %>)
      <%= entry.definition %>
      <% end %>
<%= link_to_remote translate(:delete), {:url => {:action => :delete,
                     :id => entry.id},
                     :update => "entry_#{entry.id}"},
                     :href => url_for(:action => :delete, :id => entry.id) %>
</div>
<% end %> 
<script language="javascript">
  $('entry_expression').focus();
</script>
<%= link_to translate(:logout), :action => :logout %>
